@model ScriptChartViewer.Models.ChartIdModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Enter your chart id</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.ChartId)
    @Html.ValidationMessageFor(model => model.ChartId)
    <button type="submit">Submit</button>
}